# nft.gift — © 2026 sun-dive — Licensed under the Business Source License 1.1 (see LICENSE).
# Shared card files — static SVG, no active content permitted.
<IfModule mod_headers.c>
  Header set Content-Security-Policy "default-src 'none'; style-src 'unsafe-inline'; img-src data:; font-src data:; sandbox"
  Header set X-Content-Type-Options "nosniff"
</IfModule>
AddType image/svg+xml .svg
